.SvgImage {
  margin:0;
  padding:0;
  top: 0;
  left: 0;
}

.draggable {
  cursor: move;
}

.draggable:hover{
    fill: blue;
    stroke: lime;
    stroke-width: 2;
    opacity: 0.6;
}

.resizeL {
    cursor: w-resize;
}

.resizeR {
    cursor: e-resize;
}

.resizeT {
    cursor: n-resize;
}

.resizeB {
    cursor: s-resize;
}

.label {
    font: bold 13px sans-serif;
    pointer-events: none;
}

.Svg {
  text-align: center;
  margin:0;
  padding:0;
  height: 90vh;
  overflow: auto;
}

.rect {
    fill: green;
    stroke: lime;
    stroke-width: 2;
    opacity: 0.4;
}

.Selected {
    fill: blue;
    stroke: lime;
    stroke-width: 2;
    opacity: 0.6;
}

.hidden {
  display: none;
}

.App-link {
  color: #61dafb;
}

