.App {
  margin:0;
  padding:0;
  width: 100%;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden {
  display: none;
}

.App-link {
  color: #61dafb;
}

.menu-item {
  padding: 0 20px;
  margin: 2px 5px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.ImageList {

}

.LabelList {
}

.LabelItem {
  margin: 1vh;
}

.App {
  scrollbar-width: thin;
}

.App ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #0f0;
}

.App ::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.App ::-webkit-scrollbar-corner {
    background: #000;
}


